# Compiled
*.elc

# Packaging
.cask

# Ignore auto-save-list folder
auto-save-list

# Ignore elpa folder
elpa

# Ignore individual files
emacs-init.el
/*~
/ac-comphist.dat

# Various
/tramp
/eshell/*
/tutorial/*
/url
/var
/.python-environments/*
/.sx/*
.org-id-locations
projectile-bookmarks.eld
bookmarks
