# Compiled
*.elc

# Packaging
.cask

# Ignore auto-save-list folder
auto-save-list

# Ignore individual files
/emacs-init.el
/org-config.el
/programming-config.el
/elfeed-config.el
/after-init.el
/writing-config.el

#Ignore backup files
*~

/ac-comphist.dat
/network-security.data

# Status file for auto-package-update
/.last-package-update-day

# Customizations file
/custom.el

# Forge database file
/forge-database.sqlite

# Projectile cache
/projectile.cache

# Various
/tramp
/eshell/*
/tutorial/*
/url
/var
/.python-environments/*
/.sx/*
.org-id-locations
projectile-bookmarks.eld
/request/*
/transient/*
emacsql-sqlite.exe

# Ignore elpy binaries
**/elpy/__pycache__/*
/elpy

# Ignore directories created by packages
/.cache/
/.dap-breakpoints
/.lsp-session-v1
/eclipse.jdt.ls/
/lsp-cache/
/recentf
/session.*
/workspace/

# Ignore org-roam database file
/org-roam.db
/.lsp-eslint-choices

# Ignore elpa directory
/elpa/
